/* window {
  --base00: #3a324e;
  --base01: #514179;
  --base02: #6f5d98;
  --base03: #8a7bad;
  --base04: #e7dbf5;
  --base05: #c9c1e1;
  --base06: #baadd8;
  --base07: #9a8bc0;
  --base08: #fc6f6f;
  --base09: #e4ac66;
  --base0A: #c3c256;
  --base0B: #9dd482;
  --base0C: #ffebd6;
  --base0D: #ffa7a6;
  --base0E: #e58cb9;
  --base0F: #fc7a8b;

  --padding: 5px;
  --border-radius: 3px;
  --border-width: 5px;
} */

#window {
  font-family: "ComicMono";
  font-size: 18pt;
}

#window #outer-box {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}